.mission_card_container {
  background: #ffffff;
  border-radius: 40px;
  width: 100%;
  padding: 2rem;
  height: 25rem;
  .mission_card_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 3rem;
    height: 10rem;
    h2 {
      font-weight: 800;
      color: var(--color-primary);
      margin-top: 5rem;
    }
  }
}

@media only screen and (max-width: 950px) {
  .mission_card_container {
    .mission_card_header {
      img {
        width: 6rem;
        height: 6rem;
        object-fit: contain;
      }
    }
  }
}

@media only screen and (max-width: 1392px) {
  .mission_card_container {
    height: 29rem;
  }
}

@media only screen and (max-width: 900px) {
  .mission_card_container {
    .mission_card_header {
      img {
        width: 6rem;
        height: 6rem;
        object-fit: contain;
      }
    }

    .mission_head_container {
      h1 {
        font-size: 1.7rem;
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .mission_card_container {
    padding: 2rem 2rem 6rem;
    height: 100%;
  }
}

@media only screen and (max-width: 452px) {
  .mission_card_container {
    padding: 2rem 1.5rem 3rem;

    .mission_card_header {
      padding-bottom: 1rem;
      height: 8rem;

      img {
        width: 4.5rem;
        height: 4.5rem;
      }
    }
    .mission_head_container {
      h1 {
        font-size: 1.3rem;
      }
      p {
        font-size: 0.9rem;
      }
    }
  }
}

@media only screen and (max-width: 350px) {
  .mission_card_container {
    padding: 0 1rem 1.5rem;

    .mission_head_container {
      h1 {
        font-size: 1.1rem;
      }
      p {
        font-size: 0.8rem;
      }
    }
  }
}
