
.dopa-form-container {
  background: #ffffff;
  box-shadow: 0px 4px 4px 3px #00000040;
  padding: 3%;
  border-radius: 10px;
  width: 100%;
  position: relative;
  grid-area: form;
  display: flex;
  flex-direction: column;
  justify-content: center;


  span,
  h2 {

    font-weight: 600;
  }
  h2 {
    margin-bottom: 1rem;
  }


  form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.8rem;
    button {
      background: linear-gradient(95.04deg, #05c3f3 20.87%, #138fae 81.87%);
      color: #fff;
      padding: 1rem 7rem;
      border-radius: 17px;
      border: none;
      cursor: pointer;
      font-size: 1.3rem;
      font-weight: 700;
      padding: 0.5rem 4rem;
      margin-top: 2rem;
      &:hover{
        background: linear-gradient(95.04deg, #5b93a1 20.87%, #346875 81.87%);
      }
    }

    select {
      background: #2ea8e145;
      border: 0.5px solid #00000033;
      border-radius: 8px;
      color: #000000;
      font-style: italic;
     
      height: 2.5rem;
     
    }
  }

  .class {
    width: 40%;
  }

  .district {
    width: 60%;
  }
  .input-container {
    display: flex;
    gap: 1rem;
    width: 100%;
  }
  .select-container {
    display: flex;
    flex-direction: column;
  }
}



@media only screen and (max-width:1300px) {
  .dopa-form-container{
    form{
      gap: 1.5rem;
    }
  }
}
@media only screen and (max-width: 940px) {
  .dopa-form-container {
    order: 1;
 
  }
}

@media only screen and (max-width: 810px) {
  .dopa-form-container {

    form{
      button{
        margin-top: 1rem;
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .dopa-form-container {
    padding: 1.5rem 1rem;
    form {

      button {
        font-size: 1rem;
        padding: 0.5rem 3rem;
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  .dopa-form-container {
    .select-container {
      label{
        font-size: 0.8rem;
      }
      select {
        font-size: 0.7rem;
      }
    }
  }
}
@media only screen and (max-width: 350px) {
  .dopa-form-container {
    h2 {
      font-size: 1.2rem;
    }
  }
}

@media only screen and (max-width: 330px) {
  .dopa-form-container {
    .select-container {
      select {
        font-size: 0.6rem;
      }
    }
  }
}
