.course_features_wrapper {
  display: flex;
  z-index: 1;
  background: #fff;
  color: #000;
  border-radius: 30px;
  padding: 2rem;
  gap: 2rem;
  width: 55%;
  margin-top: -5rem;
  text-align: center;
  justify-content: space-around;
  box-shadow: 0px 8.147505760192871px 8.147505760192871px 0px #00000040;
  .course_features_content {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    img {
      width: 3.5rem;
        height: 3.5rem;
      object-fit: contain;
    }
  }
}

@media only screen and (max-width: 1450px) {
  .course_features_wrapper {
    width: 60%;
    .course_features_content {
      h4 {
        font-size: 0.9rem;
      }
    }
  }
}

@media only screen and (max-width: 1275px) {
  .course_features_wrapper {
    width: 70%;

  }
}


@media only screen and (max-width: 1160px) {
  .course_features_wrapper {
    gap: 0.5rem;

    .course_features_content {
      h4 {
        font-size: 0.8rem;
      }
    }
  }
}

@media only screen and (max-width: 950px) {
  .course_features_wrapper {
    gap: 0.5rem;
    padding: 1.5rem;

    .course_features_content {
      gap: 0.3rem;
      h4 {
        font-size: 0.7rem;
      }

      img {
        width: 2.5rem;
        height: 2.5rem;
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .course_features_wrapper {
    margin-top: -2.5rem;
    width: 65%;
  }
}
@media only screen and (max-width: 850px) {
  .course_features_wrapper {
    gap: 0.3rem;
    
    .course_features_content {
      gap: 0.1rem;
      h4 {
        font-size: 0.6rem;
      }

      img {
        width: 2rem;
        height: 2rem;
      }
    }
  }
}

@media only screen and (max-width: 750px) {
  .course_features_wrapper {
    gap: 0.2rem;

    width: 75%;
    .course_features_content {
      gap: 0.3rem;
      h4 {
        font-size: 0.7rem;
      }

  
    }
  }
}

@media only screen and (max-width: 600px) {
  .course_features_wrapper {
    flex-wrap: wrap;
    gap: 0.8rem;
    width: 90%;
    .course_features_content {
      gap: 0.5rem;

      img {
        width: 2.3rem;
        height: 2.3rem;
      }
      h4 {
        font-size: 0.8rem;
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  .course_features_wrapper {
    .course_features_content {
      h4 {
        font-size: 0.7rem;
      }
    }
  }
}

@media only screen and (max-width: 370px) {
  .course_features_wrapper {
    gap: 0.5rem;
    padding: 1.5rem 0.8rem;
    .course_features_content {
      gap: 0.3rem;

      img {
        width: 1.8rem;
        height: 1.8rem;
      }
    }
  }
}
