.points-wrapper{
    display: flex;
    flex-direction: column;
    p{
        color: #696969;
    }
}
.title-wrapper{
    display: flex;
    justify-content: flex-start;
    gap: 0.5rem;
    align-items: center;
    img{
        height: 3rem;
        width: auto;
    }
    span{
        font-size: 1.1rem;
        max-width: 7rem;
    }
}
@media only screen and (max-width: 768px) {
    .points-wrapper{
        p{
            display: none;
        }
    }
}
@media only screen and (max-width: 500px) {
    .points-wrapper{
        span{
            font-size: 0.9rem;
        }
    }
}