.mainHeader {
    background: #fff;
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding-primary);
    font-family: var(--font-inter);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
}

.headerLogo{
    cursor: pointer;
}

.navLinks {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    list-style: none;
    height: 100%;
    li{
        height: 100%;
        display: flex;
        align-items: center;
        position: relative;
        cursor: pointer;
        &:hover .sublinks_list{
            display: block;
        }
    }

      .class_link{
    color: #fff;
  }

    a,span {
        text-decoration: none;
        color: #000;
        font-size: 1.1rem;
        font-weight: 500;
    }
}
.sublinks_list{
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateY(100%);
    border-radius: 6px;
    background: var(--color-primary);
    width: max-content;
    display: none;
    li{
        padding: 0.5rem 1rem;
        &:hover{
            background: #ffffff4f;
        }
    }
    a{ 
        color: #fff !important;
        font-size: 1rem;
    }
}
.sublinks_list li:hover .link_expand{
    display: block;
}
.link_expand{
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(calc(100% + 1px));
    border-radius: 6px;
    background: var(--color-primary);
    width: max-content;
    display: none;
    li{
        padding: 0.5rem 1rem;
        &:hover{
            background: #ffffff4f;
        }
    }
    a{
        color: #fff;
        font-size: 1rem;
    }

}
.btnWrapperMobile {
    display: none;
}

.hamburger {
    display: none;
}


@media only screen and (max-width: 1300px) {
    .navLinks {
        gap: 1rem;

        a,span {
            font-size: 1rem;
        }
    }
}

@media only screen and (max-width: 768px) {
    .mainHeader{
        height: 4rem;
        display: grid;
        grid-template-columns: 1fr max-content 1fr;
    }

 

    .navLinks {
        flex-direction: column;
        width: 15rem;
        position: fixed;
        background: #fff;
        height: calc(100vh - 4rem);
        top: 4rem;
        left: 0;
        align-items: flex-start;
        padding: 1rem;
        box-shadow: 9px 3px 10px rgb(0, 0, 0 ,0.06);
        transform: translateX(-110%);
        transition: all 0.3s ease;
        li{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            height: max-content;
        }

        .class_link{
            color: rgb(6, 6, 6);
          }
    }

    
    .sublinks_list{
        position: initial;
        padding-left: 1rem;
        transform: translateY(100%);
        border-radius: 6px;
        background: transparent;
        width: max-content;
        display: none;
        bottom: initial;
        left: initial;
        transform: translate(0,0);
        li{
            padding: 0.5rem 0;
            display: flex;
            flex-direction: column;
            height: max-content;
            &:hover{
                background: transparent;
            }
        }
        a,p{
            color: #000;
            cursor: pointer;
            font-size: 0.9rem;
        }
    }
    .link_expand{
        background: transparent;
        padding-left: 1rem;
        position: initial;
        top: 0;
        left: 0;
        right: auto;
        transform: translate(0);
    }
    .mainHeader button{
        width: 11rem;
    }

    .btnWrapperMobile {
        display: flex;
        gap: 1rem;
        justify-content: flex-end;
    }

    .hamburger {
        display: flex;
        flex-direction: column;
        width: 33px;
        cursor: pointer;
    }

    .hamburger span {
        background: #1987A4;
        border-radius: 10px;
        height: 3px;
        margin: 3.5px 0;
        transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    }

    .hamburger span:nth-of-type(1) {
        width: 50%;
    }

    .hamburger span:nth-of-type(2) {
        width: 100%;
    }

    .hamburger span:nth-of-type(3) {
        width: 75%;
    }

    .hamburger input[type="checkbox"] {
        display: none;
    }

    .hamburger:has(input[type="checkbox"]:checked) ~ .navLinks{
        transform: translateX(0);
    }

    .hamburger input[type="checkbox"]:checked~span:nth-of-type(1) {
        transform-origin: bottom;
        transform: rotatez(45deg) translate(4.5px, 0px);
    }

    .hamburger input[type="checkbox"]:checked~span:nth-of-type(2) {
        transform-origin: top;
        transform: rotatez(-45deg);
    }

    .hamburger input[type="checkbox"]:checked~span:nth-of-type(3) {
        transform-origin: bottom;
        width: 50%;
        transform: translate(14.5px, -5px) rotatez(45deg);
    }
    .arrow_link{
        display: flex;
        align-items: center;
        gap: 3px;
        &::after{
            content: "\203A";
            font-size: 1.1rem;
            transition: all 0.3s ease;
        }
    }
    .arrow_link_active{
        &::after{
            transform: rotate(90deg);
        }
    }
}

@media only screen and (max-width: 500px) {
    .headerLogo{
        width: 6rem;
        height: auto;
    }
    .mainHeader{
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
    }
    .btnWrapperMobile{
        display: none;
    }
    .hamburger{
        transform: rotate(180deg);
    }
    .navLinks{
        box-shadow: 9px 3px 10px rgb(0, 0, 0 ,0.06);
        width: 100%;
        transform: translateX(110%);
        align-items: flex-start;
        overflow-y: scroll;
    }
}