.banner_wrapper_main{
    width: 100%;
    height: 100vh;
    padding: var(--padding-primary);
    padding-top: 5rem;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    position: relative;
    overflow: hidden;
}
.banner_bg_primary{
    width: 80%;
    bottom: 0;
    right: 0;
    position: absolute;
    height: auto;
    z-index: 2;
}
.banner_bg_secondary{
    width: 15rem;
    position: absolute;
    bottom: -4rem;
    left: 0;
    height: auto;
}
.banner-content{
    justify-self: flex-start;
    align-self: center;
    h1{
        font-size: 3.5rem;
        line-height: 68.8px;
        font-weight: 800;
    }
    p{
        font-size: 2rem;
        font-weight: 500;
    }
    a{
        color: #000;
        text-decoration: none;
    }
    button{
        font-size: 1.8rem;
        border-radius: 100px;
        background: var(--aqua-gradient);
        border: none;
        padding: 0.5rem;
        font-family: var(--manrope);
        width: max-content;
        margin: auto;
        margin-top: 2rem;
    }
    span{
        background: #fff;
        width: 100%;
        height: 100%;
        border-radius: 100px;
        display: block;
        padding: 1rem 2rem;
    }
}

.bannerImage{
    margin-top: auto;
    height: 90%;
    width: auto;
    z-index: 3;
    position: relative;
}

.courseSection{
    padding: var(--padding-primary);
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 100%;
    position: relative;
    background-blend-mode: color-burn;
    z-index: 4;
    background: var(--aqua-gradient);
   
    &::after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 40%;
        background: #fff;
        border-radius: 50% 50% 0 0 / 100% 100% 0 0;
    }
}
.cards-wrapper{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 2rem;
    padding: 2rem 0;
    position: relative;
    z-index: 6;
}
.sectionTitle{
    font-size: 2.5rem;
    color: #fff;
    text-align: center;
}
.dopa_updates_section{
    padding: var(--padding-primary);
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.dopa_updates_header{
    h3{
        font-size: var(--main-title-size);
    }
    h4{
        font-size: var(--sub-title-size);
        font-weight: 500;
        background: #33cccc1d;
        border-radius: 18.4475px;
        border-radius: 0 15px 15px 0;
        width: max-content;
        padding: 2px 5px;
    }
}
.dopa_updates_carousel_wrapper{
    padding: 0 3rem;
    position: relative;
}
.dopa_updates_carousel_item{
    width: 100%;
    aspect-ratio: 1/2;
    border-radius: 25px;
    object-fit: cover;
    object-position: center;
    height: 25rem;
}
.dopa_update_navigator{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 2rem;
    cursor: pointer;
    color: #26B6E3;
}
.dopa_update_navigator_right{
    right: 0;
    left: auto;
}
.about_dopa_section{
    padding: var(--padding-primary);
    background: linear-gradient(96.96deg, #B261BE -4.77%, #0D81A1 32.08%, #24ACAD 75.71%, #26B6E3 98.92%);
    color: #fff;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding-top: 1rem;
    padding-bottom: 2rem;
    grid-gap: 10%;
}
.about_dopa_left{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
}
.about_dopa_head{
    font-size: var(--main-title-size);
}
.about_dopa_content{
    font-size: var(--read-text-size);
}
.dopa_said_wrapper{
    width: max-content;
    margin-left: auto;
}
.about_dopa_img{
    width: 100%;
    height: max-content;
    object-fit: cover;
}

.result_section{
    padding: var(--padding-primary);
    gap: 2rem;
    max-width: 1400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.results_wrapper{
    display: flex;
    gap: 2rem;
    flex-direction: column;
}
.main_results{
    display: grid;
    grid-template-columns: repeat(2,1fr);   
    grid-gap: 2rem;
    padding: 0 calc(3rem + 8px);
}
.main_result_img,
.dopa_result_secondary_img{
    width: 100%;
    height: auto;
}
.result_header_wrapper{
    padding: 0 calc(3rem + 8px);
    display: flex;
    align-items: flex-end;
    gap: 1rem;
    h3{
        font-size: var(--main-title-size);
        color: var(--color-primary);
    }
    h4{
        font-size: var(--sub-title-size);
        font-weight: 500;
        background: #33cccc1d;
        border-radius: 18.4475px;
        border-radius: 0 15px 15px 0;
        width: max-content;
        padding: 2px 5px;
    }
}
.tutor_header_wrapper{
    padding: 0;
    h3{
        color: #000;
    }
}
.result_header_icon{
    height: 4rem;
    width: auto;
}
.tutor_section{
    padding: var(--padding-primary);
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.tutors_specialities_wrapper{
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    padding: 1.5rem 0;
}
.tutors_speciality{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}
.tutors_speciality p{
    flex-shrink: 3;
}
.speciality_icon{
    width: 2rem;
    height: auto;
    flex-shrink: 2;
}
.no_one_section{
    background: linear-gradient(121.46deg, #1987A4 0.2%, #0FC2F1 35.72%, #0FC3F2 50.58%);
    padding: 1rem;
    width: 100%;
    position: relative;
}
.no_one_vector_bg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.no_one_download_wrapper{
    display: flex;
    gap: 1rem;
}
.no_one_content_wrapper{    
    display: flex;
    justify-content: center;
    color: #fff;
    gap: 10%;
    padding: var(--padding-primary);
    align-items: center;
}
.no_one_content{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 500px;
}
.download-img{
    height: 4rem;
    width: auto;
    cursor: pointer;
}
.no_one_phone_img{
    margin-bottom: -1rem;
}
.no_one_text{
    font-size: 2rem;
    font-weight: 500;
}
.insight_section{
    padding: var(--padding-primary);
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.statics_wrapper{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2rem;
}
.statics_card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.statics_icon{
    width: 13rem;
    height: auto;
}
.statics_details_screenwrapper{
    width: max-content;
    h3{
        font-size: 1.8rem;
    }
    p{
        font-weight: 600;
    }
}
.insight_header_wrapper{
    display: flex;
    flex-direction: column;
    grid-area: 5px;
    h3{
        font-size: var(--main-title-size);
        color: var(--color-primary);
    }
    h4{
        font-size: var(--sub-title-size);
        font-weight: 500;
        background: #33cccc1d;
        border-radius: 18.4475px;
        border-radius: 0 15px 15px 0;
        width: max-content;
        padding: 2px 5px;
    }
}
.icon_and_heading{
    display: flex;
    gap: 5px;
    align-items: center;
}
.insight_icon{
    width: 3rem;
    height: auto;
}

.popup_container_home{
    h3{
        margin-bottom: 2.5rem;
    }
   
}

.popup_class_container{
cursor: pointer;
    background: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    color:var(--color-primary);
    padding:0.5rem;
    border: 1px solid rgb(49, 48, 48);
    margin-bottom: 1rem;

    &:active{
        background: rgb(171, 193, 200);
    }
}

@media only screen and (max-width: 1400px) {
    .banner-content{
        h1{
            font-size: 2.8rem;
            line-height: 50px;
            font-weight: 800;
        }
        p{
            font-size: 1.3rem;
            font-weight: 500;
        }
        button{
            font-size: 1.2rem;
        }
    }
    .banner_wrapper_main{
        width: 100%;
        height: 100vh;
        grid-template-columns: 2fr 1fr;
    }
    .dopa_updates_carousel_item{
        height: 16rem;
    }
}

@media only screen and (max-width :1000px) {
    .popup_container_home{
        h3{
            font-size: 1rem;
        }
    }
}
@media only screen and (max-width: 768px) {
    .banner{
        padding: 1rem;
        padding-top: 5rem;
        padding-bottom: 0;
    }
    .banner_wrapper_main{
        grid-template-columns: 1fr;
        height: max-content;
        background: #D9D9D940;
        border-radius: 10px 10px 0 0;
    }
    .banner_bg_secondary{
        width: 10rem;
        bottom: initial;
        left: initial;
        top: -3rem;
        right: -3rem;
    }
    .banner_bg_primary{
        width: 100%;
    }
    .bannerImage{
        height: auto;
        width: 80%;
        margin: auto;
        margin-top: auto;
        margin-bottom: 0;
    }
    .banner-content{
        justify-self: center;
        text-align: center;
        gap: 0.5rem;
        button{
            padding: 0;
        }
        span{
            background: linear-gradient(118.99deg, #33CCCC 7.99%, #1987A4 46.02%, #003442 116.48%);
            color: #fff;
        }
    }
    .cards-wrapper{
        display: flex;
        gap: 2rem;
        flex-wrap: wrap;
        justify-content: center;
    }

    .courseSection{
        &::after{
            height: 2rem;
            background: #F9F8F8;
        }
    }
    .dopa_updates_carousel_item{
        height: 12rem;
    }
    .about_dopa_section{
        grid-template-columns: 1fr;
        grid-gap: 1rem;
    }
    .tutors_specialities_wrapper{
        flex-direction: column;
    }
    .no_one_phone_img{
        display: none;
    }
    .no_one_text{
        text-align: center;
    }
    .no_one_download_wrapper{
        justify-content: center;
    }
    .statics_icon{
        width: 8rem;
    }
    .statics_details_wrapper{
        width: 100%;
        text-align: center;
        h3{
            font-size: 1.5rem;
        }
        p{
            font-size: 0.8rem;
        }
    }
    .statics_wrapper{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 1rem;
    }
}

@media only screen and (max-width: 500px) {
    .banner{
        padding: 0.5rem;
        padding-top: 4.5rem;
        padding-bottom: 0;
    }
    .banner_wrapper_main{
        grid-template-columns: 1fr;
        gap: 1rem;
        height: auto;
    }
    .bannerImage{
        height: auto;
        width: 95%;
        margin: auto;
        margin-top: auto;
        margin-bottom: 0;
    }
    .banner-content{
        justify-self: center;
        text-align: center;
        gap: 0.5rem;

        h1{
            font-size: 1.6rem;
            line-height: 33px;
        }

        button{
            font-size: 1rem;
            padding: 2px;
        }

        span{
            padding: 0.5rem 1rem;
        }
        p{
            font-size: 1rem;
        }
    }

    .cards-wrapper{
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: center;
    }

    .courseSection{
        padding-bottom: 0;
        &::after{
            height: 1rem;
        }
    }

    .sectionTitle{
        font-size: 1.8rem;
    }
    .dopa_update_navigator{
       display: none;
    }
    .dopa_updates_carousel_wrapper{
        padding: 0;
    }
    .dopa_updates_carousel_item{
        height: 8rem;
    }
    .dopa_updates_header{
        h4{
            font-size: 1rem;
            padding-left: 0;
        }
    }
    .main_results{
        padding: 0 5px;
        gap: 0.5rem;
    }
    .results_wrapper{
        gap: 0.5rem;
    }
    .result_header_wrapper{
        padding: 0 5px;
        gap: 0.5rem;
        align-items: center;
    }
    .result_header_icon{
        height: 2rem;
    }
    .tutors_speciality p{
        font-size: 0.8rem;
    }
    .no_one_text{
        font-size: 1rem;
    }
    .download-img{
        height: 2rem;
    }
    .no_one_content{
        gap: 1rem;
    }
    .statics_wrapper{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 1rem;
    }
    .insight_header_wrapper{
        h4{
            font-size: 0.9rem;
            width: 100%;
        }
    }
    .insight_icon{
        width: 2rem;
    }
    .statics_details_wrapper{
        h3{
            font-size: 1.1rem;
        }
        p{
            font-size: 0.8rem;
        }
    }
    .popup_container_home{
        h3{
            font-size: 1.1rem;
        }
    }
}