/* DopaUpdates.module.css */
.swiperButtonPrev,
.swiperButtonNext {
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  border: none;
  color: #fff; /* White color for icons */
  font-size: 24px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.swiperButtonPrev {
  left: 10px;
}

.swiperButtonNext {
  right: 10px;
}
